body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #121212;
}

h1, p{
  color: #ff4c4c;
}

#gameArea {
  width: 600px;
  height: 400px;
  background-color: #1e1e1e;
  border: 2px solid #ccc;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}
